@media (max-width: 600px) { 
    .SeasonEpisode {
        font-size: 4vw !important;
        margin-bottom: 1.2rem !important;
    }
    .titleEpisodes {
        font-size: 5vw !important;
        /* margin-bottom: 1.5rem !important;
        margin-top: 1.5rem !important; */
    }

    .season {
        font-size: 4.5vw !important;
        /* margin-bottom: 0.4rem !important; */
        margin-top: 0rem !important;
    }

    .textField {
        width: 100%;
    }
 }

.SeasonEpisode {
    font-size: 1.9vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.wrapperEpisodes {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    
    margin-left: 1rem;
    margin-right: 1rem;

}
  
.titleEpisodes {
    font-size: 2.4vw;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    margin-left: 2rem;
}

.season {
    font-size: 2vw;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

div.SeasonEpisode:hover{
    color:rgb(44, 4, 177);
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); */
}

.buttonEpisodesInfo {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
    margin-left: 1rem;
    width: 100%;

}

.empty {
    font-size: 1.7vw;
    margin-top: 1.2rem;
    margin-left: 2rem;
}

.textField {
    width: 100%;
}
