@media (max-width: 600px) {

    .itemInfoCharacter {
        font-size: 4vw !important;
    }

    .cardCharacter {
        margin: 0.8rem !important;
    }
}


.cardCharacter {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    /* border: 4px solid rgb(138, 138, 138); */
    box-shadow: 4px 2px 17px 1px rgba(0, 0, 0, 0.3);
}

.infoCharacter {
    display: flex;
    flex-direction: column;
    padding: 8%;
}

.btnLink {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 7%;
}

.itemInfoCharacter {
    font-size: 1.7vw;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
}

.allCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}